<main role="main">
    <!-- Content -->
    <article>
        <header class="section background-white">
            <div class="line text-center">
                <h1 class="custom-heading">Contact <span class="custom-span">US</span></h1>
                <p class="custom-paragraph custom-text-effect">We Love to Listen to Your Requirements.</p>
            </div>
        </header>
      
        <div id="Request">
            <button onclick="showForm('form1')">Request a Quote</button>
            <button onclick="showForm('form2')">Technical Support</button>
            <button onclick="showForm('form3')">Complain</button>
            <button onclick="showForm('form4')">Job Candidate</button>
        </div>

        <div class="form-wrapper" id="form1" class="hidden">
            <h2>Request a Quote</h2>
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputName">Name</label>
                            <input type="text"  class="form-control"  placeholder="Enter Name">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone">Phone</label>
                    <input type="Phone" name="Phone" class="form-control" id="Phone" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone">Services</label>
                    <input type="text" name="Services" class="form-control" id="Services" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputDetails">Details Request</label>
                    <textarea class="form-control" name="Details" id="Details" rows="4" placeholder="Details Request"></textarea>
                </div>

               @*  <div class="form-group">
                    <label for="exampleInputFile">File Upload</label>
                    <div class="file-input-container">
                        <label class="file-input-button" for="fileInput">Choose File</label>
                        <input type="file" class="file-input-hidden" id="fileInput">
                    </div>
                </div> *@

                <button id="margin" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>


        <div class="form-wrapper" id="form2" class="hidden">
            <h2>Technical Support</h2>
            <form asp-action="Create" asp-controller="TechnicalSupport" method="post" >
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputName">Name</label>
                            <input type="text" name="Name" class="form-control" id="Name" placeholder="Enter Name">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone">Phone</label>
                    <input type="Phone" name="Phone" class="form-control" id="Phone" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone">Services</label>
                    <input type="text" name="Services" class="form-control" id="Services" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputDetails">Details Request</label>
                    <textarea class="form-control" name="Details" id="Details" rows="4" placeholder="Details Request"></textarea>
                </div>

                @*  <div class="form-group">
                <label for="exampleInputFile">File Upload</label>
                <div class="file-input-container">
                <label class="file-input-button" for="fileInput">Choose File</label>
                <input type="file" class="file-input-hidden" id="fileInput">
                </div>
                </div> *@

                <button id="margin" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="form-wrapper" id="form3" class="hidden">
            <h2>Complain</h2>
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputName">Name</label>
                            <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Name">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone">Phone</label>
                    <input type="Phone" class="form-control" id="exampleInputPhone" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputDetails">Details Of Complain</label>
                    <textarea class="form-control" id="exampleInputDetails" rows="4" placeholder="Details of Complain"></textarea>
                </div>

                <button id="margin" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="form-wrapper" id="form4" class="hidden">
            <h2>Job Candidate</h2>
            <form asp-action="Create" asp-controller="JobCandidate" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" name="Name" class="form-control" id="Name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone">Phone</label>
                    <input type="Phone" name="Phone" class="form-control" id="Phone" placeholder="Phone">
                </div>
               @*  <div class="form-group">
                    <label for="exampleInputDetails">JobTitile</label>
                    <input class="form-control" name="JobTitile" id="JobTitile" placeholder="JobTitile">
                </div> *@
                <div class="form-group">
                    <label for="exampleInputPhone">Details</label>
                    <input type="text" name="Details" class="form-control" id="Details" placeholder="Details">
                </div>
                <div class="form-group">
                    <input type="file" name="File" class="form-control" id="File" placeholder="Message">

                </div>
               @*  <div class="form-group">
                    <label for="cvFile">Upload CV</label>
                    <input type="file" name="CVFileName" class="form-control-file" id="CVFileName">
                </div> *@
                <button id="margin" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </article>
</main>

<!-- FOOTER -->
<div id="space">
</div>
<div style="margin:100px;"></div>
